@import "variables";

@mixin media($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin breakpoints($margin: 0px) {
    @include media(0, $xs - 1px)        { width: calc(100% - #{$margin}); @content; }
    @include media($xs, $sm - 1px)      { width: $xs - $margin; @content; }
    @include media($sm, $md - 1px)      { width: $sm - $margin; @content; }
    @include media($md, $lg - 1px)      { width: $md - $margin; @content; }
    @include media($lg, $xl - 1px)      { width: $lg - $margin; @content; }
    @include media($xl, 99999px)        { width: $xl - $margin; @content; }
}