@import "variables";
@import "container";

input {
    display: block;
    width: 100%;
    border: $border;

    @extend [variant="white"];
    @extend .sm-box;
}

input, button, select, textarea {
    outline: none
}

.form {
    &.group {
        margin-bottom: 10px;
    }
    &.label {
        display: block;
        margin-bottom: 5px;
    }
}