@import "variables";

.text-primary { color: $primary }
.text-secondary { color: $secondary }
.text-dark { color: $dark }
.text-white { color: $white }
.text-danger { color: $danger }

* {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

    @extend .text-dark;
}

p, label, input {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
}

dt {
    font-weight: bolder;
}